img{
    filter: brightness(1.2) 
    contrast(1.1)
    grayscale(0.5) 
    hue-rotate(90deg)
    invert(1) 
    opacity(0.5) 
    saturate(1)
    sepia(1) 
    drop-shadow(0 0 25px red);
    
    width: 500px;
    transition: 1s;
}